body{
    margin: 0;
    background-image: url('https://www.telegraph.co.uk/content/dam/Travel/partnerTourImages/NewmarketHolidays/IndiaapossGoldenTriangleBombayandVaranasi/RESTRICTED-leadAsset-IndiaapossGoldenTriangleBombayandVaranasi.png?imwidth=960');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: skyblue;
    backdrop-filter: blur(2px);
    width: 100%;
}