body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0px 10px;
    border-radius: 250px;
    background-color: hsl(184, 62%, 56%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.choices button:hover {
    background-color: hsl(185, 91%, 75%);
}

.choices button:focus {
    outline: 3px solid hsl(184, 90%, 70%);
}

#playerDisplay,
#computerDisplay {
    font-size: 5rem;
    margin: 30px 0px;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0px;
}

.scoreDisplay {
    font-size: 2rem;
}

.greenText {
    color: hsl(120, 42%, 62%);
}

.redText {
    color: hsl(0, 41%, 40%);
}
